@{
    ViewData["Title"] = "About";
}
@{
    ViewData["Title"] = "FAQ";
}
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- breadcrumb-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Liên hệ</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-3">
                <!--
                *** PAGES MENU ***
                _________________________________________________________
                -->
                <div class="card sidebar-menu mb-4">
                    <div class="card-header">
                        <h3 class="h4 card-title">Trang</h3>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-pills flex-column">
                            <li><a asp-action="Contact" asp-controller="Home" class="nav-link"><i class="fa fa-phone" aria-hidden="true"></i>Liên hệ</a></li>
                            <li><a asp-action="About" asp-controller="Home" class="nav-link active"><i class="fa fa-question" aria-hidden="true"></i>Câu hỏi thường gặp</a></li>
                        </ul>
                    </div>
                </div>
                <!-- *** PAGES MENU END ***-->
                <div class="banner"><a href="#"><img src="~/Hinh/beauty/bao-gia-30-ngay.png" alt="sales 2014" class="img-fluid"></a></div>
            </div>
            <div class="col-lg-9">
                <div id="contact" class="box">
                    <h1>Câu hỏi thường gặp</h1>
                    <p class="lead">Chào! Chúng tối giúp được gì cho bạn?</p>
                  
                    <hr>
                    <div id="accordion">
                        <div class="card border-primary mb-3">
                            <div id="headingOne" class="card-header p-0 border-0">
                                <h4 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="btn btn-primary d-block text-left rounded-0">1. Obaju xử lí các thông báo về hàng giả/ hàng nhái như thế nào?</a></h4>
                            </div>
                            <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion" class="collapse show">
                                <div class="card-body">
                                    <p>Ngay khi nhận được nghi ngờ của qúy khách hàng, chúng tôi sẽ lập tin liên hệ
                                    Nếu có sai sót xảy ra, chúng tôi xin bồi thường 200% giá trị sản phẩm.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary mb-3">
                            <div id="headingTwo" class="card-header p-0 border-0">
                                <h4 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="btn btn-primary d-block text-left rounded-0">2. Hàng nhận được không đúng với sản phẩm đã đặt?</a></h4>
                            </div>
                            <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion" class="collapse">
                                <div class="card-body"> Trong trường hợp quý khách nhận được sản phẩm không đúng với nội dung đã đặt, chúng tôi rất tiếc với sự nhầm lẫn này. Quý khách vui lòng đóng gói lại sản phẩm và tiến hành yêu cầu đổi trả hàng</div>
                            </div>
                        </div>
                        <div class="card border-primary">
                            <div id="headingThree" class="card-header p-0 border-0">
                                <h4 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="btn btn-primary d-block text-left rounded-0">3. Tôi có cần đăng nhập để sử dụng mã khuyến mãi?</a></h4>
                            </div>
                            <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion" class="collapse">
                                <div class="card-body"> Có. Quý khách có thể được yêu cầu đăng nhập vào tài khoản của mình để sử dụng mã khuyến mãi.</div>
                            </div>
                        </div>
                    </div>
                    <!-- /.accordion-->
                </div>
            </div>
            <!-- /.col-lg-9-->
        </div>
    </div>
</div>