@{
    ViewData["Title"] = "Contact";
}
<script>
    function myFunction() {
        alert("Bạn đã gửi thành công. Vui lòng kiểm tra mail để nhận phản hồi từ chúng tôi!");
    }
</script>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- breadcrumb-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Liên hệ</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-3">
                <!--
                *** PAGES MENU ***
                _________________________________________________________
                -->
                <div class="card sidebar-menu mb-4">
                    <div class="card-header">
                        <h3 class="h4 card-title">Trang</h3>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-pills flex-column">
                            <li><a asp-action="Contact" asp-controller="Home" class="nav-link active"><i class="fa fa-phone" aria-hidden="true"></i>Liên hệ</a></li>
                            <li><a asp-action="About" asp-controller="Home" class="nav-link"><i class="fa fa-question" aria-hidden="true"></i>Câu hỏi thường gặp</a></li>
                        </ul>
                    </div>
                </div>
                <!-- *** PAGES MENU END ***-->
                <div class="banner"><a href="#"><img src="~/Hinh/beauty/bao-gia-30-ngay.png" alt="sales 2014" class="img-fluid"></a></div>
            </div>
            <div class="col-lg-9">
                <div id="contact" class="box">
                    <h1>Liên hệ</h1>
                    <p>T E C H là hệ thống bán lẻ ĐIỆN MÁY – NỘI THẤT với hơn 70 cửa hàng trên khắp toàn quốc, chúng tôi luôn mang tinh thần Cam kết bằng cả thương hiệu hơn 20 năm đã tồn tại và phát triển phục vụ với hơn 60 triệu lượt khách hàng. 
                    Trong suốt hơn 20 năm gắn bó, Điện Máy Chợ Lớn mang đến cho quý khách hàng sự cam kết dịch vụ mà không nơi đâu sánh bằng.</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <h3><i class="fa fa-map-marker"></i>&nbsp; Địa chỉ</h3>
                            <p><strong>T E C H </strong><br />280 An Dương Vương<br>Phường 4, Quận 5<br>TP Hồ Chí Minh<br>Việt Nam</p>
                        </div>
                        <!-- /.col-sm-4-->
                        <div class="col-md-4">
                            <h3><i class="fa fa-phone"></i>&nbsp; Điện thoại hỗ trợ</h3>
                            <p><strong>+33 555 444 333</strong></p>
                        </div>
                        <!-- /.col-sm-4-->
                        <div class="col-md-4">
                            <h3><i class="fa fa-envelope"></i>&nbsp; Email liên hệ</h3>
                            <ul>
                                <li><strong><a href="mailto:">techstore@hcmue.edu.vn</a></strong></li>
                            </ul>
                        </div>
                        <!-- /.col-sm-4-->
                    </div>
                    <!-- /.row-->
                    <hr>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.655293014326!2d106.68039661435016!3d10.76102729233199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b8e6575c3%3A0x48d253bde1931e59!2zxJDhuqFpIGjhu41jIFPGsCBQaOG6oW0!5e0!3m2!1svi!2s!4v1526561893552" width="100%" height="520" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <hr>
                    <h2>Thông tin liên hệ</h2>
                    <form asp-action="LienHe" asp-controller="Home">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">Họ Tên</label>
                                    <input name="ten" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastname">Số điện thoại</label>
                                    <input name="sdt" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input name="email" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="subject">Tiêu đề</label>
                                    <input name="tieude" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message">Nội dung</label>
                                    <textarea name="noidung" class="form-control" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary" onclick="myFunction()"><i class="fa fa-envelope-o"></i> Gửi liên hệ</button>
                            </div>
                        </div>
                        <!-- /.row-->
                    </form>
                </div>
            </div>
            <!-- /.col-md-9-->
        </div>
    </div>
</div>