
@{
    ViewData["Title"] = "CheckoutFail";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6" style="height:300px;">
            <img src="https://img.pngio.com/fail-stamp-fail-stamp-png-1300_866.png" alt="Thanh Toán Thất Bại!!!" | PNG All style="height:300px;">
        </div>
        <div class="col-sm-6">
            <h1>Thanh toán thất bại!!!</h1>
           <a href="https://localhost:44345/" class="btn btn-primary">Quay Lại</a> 
        </div>
        
    </div>

    
</div>


